
<div class="menu">
  <%= link_to "+  Add a New Product", new_product_path %>
</div>

<ul>
<% @products.each do |product| %>
<div class="product">
  <li> <%= link_to product.name.upcase, product_path(product) %></br>
    $<%= product.formatted_price %></li>
  <%= image_tag(product.images.first.path.url) if product.images.count > 0 %>

</div>
<% end %>

</ul>


